body {
    background-color: lightblue;
}

h1 {
    font-family: serif;
    font-size: 35px;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.disabled-todo {
  color: orangered;
  text-decoration: line-through;
}

ul {
    width: 350px;
    height: 150px;
    border: 10px solid orange;
    background-color: white;
    padding: 50px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

button {
    background-color: orange;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    height: 100px;
    position: relative;
    border: 3px;
    justify-content: space-between;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* center the title */

/* create box for the todo list */

/* add border to todo list box */

/* add todo items inside of todo list box */

/* add styling to both title and todo items */

/* change styling to Add button and keep styling for todo item box */

/* center the Add button and todo item box and leave on top */