body {
    background-color: lightblue;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    width: 250px;
    border: 7px solid orangered;
    padding: 50px;
    margin: 5px;
}

/* center the title */

/* create box for the todo list */

/* add border to todo list box */

/* add todo items inside of todo list box */

/* add styling to both title and todo items */

/* change styling to Add button and keep styling for todo item box */

/* center the Add button and todo item box and leave on top */